# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\AIESEC\Task2_2sem-master\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
